[submodule "device-tree-xlnx"]
	path = extern/device-tree-xlnx
	url = git@personal:Xilinx/device-tree-xlnx
	branch = master
[submodule "u-boot-xlnx"]
	path = extern/u-boot-xlnx
	url = git@personal:Xilinx/u-boot-xlnx
	branch = master
[submodule "extern/linux-xlnx"]
	path = extern/linux-xlnx
	url = git@personal:Xilinx/linux-xlnx
