# Editor swap files that really should belong elsewhere
.*.swp

# Log files
scripts/debootstrap_*.log

# Build directories
./build/
./exports/

# Xilinx stuff
.Xil/

# Ignore kernel module build artifacts
*.ko
*.mod.c
*.mod.o
*.o
.modules.order
.Module.symvers
*.cmd

