# Editor swap files that really should belong elsewhere
.*.swp

# Log files
scripts/debootstrap_*.log

# Build directories
build/
exports/

# Other build artifacts
src/boot/boot.scr

# Xilinx stuff
.Xil/

# C stuff
*.o

# Binaries
src/tools/smoke_test

